.ftp-deploy-sync-state.json
assets/extra-libs/
assets/icons/
assets/images/
assets/libs/
dist
src
html/ltr/home/docx
html/ltr/home/pdf
html/ltr/home/js/*.js
html/ltr/home/js/*.js
html/ltr/news/img/**
html/ltr-template/*

!html/ltr/home/js/src/
!html/ltr/home/js/components/
!html/ltr/news/img/.gitkeep
!html/ltr/courses-calendar/**/.gitkeep

/vendor/
.env