<div class="container main">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#sobre" data-toggle="tab" aria-expanded="true"
          >A biblioteca</a
        >
      </li>
      <li role="presentation" class="">
        <a href="#servicos" data-toggle="tab" aria-expanded="false"
          >Serviços</a
        >
      </li>
      <li role="presentation" class="">
        <a href="#funcionamento" data-toggle="tab" aria-expanded="false"
          >Funcionamento</a
        >
      </li>
      <li role="presentation" class="">
        <a href="#contato" data-toggle="tab" aria-expanded="false"
          >Contato</a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="sobre">
        <article class="content">
          <h2>A biblioteca</h2>
          <hr />
          <p>
            Nossa biblioteca atende nossos estudantes e a comunidade de modo geral
          </p>
          <p><b>O público matriculado na Fatec tem direito de: </b><br>
            -Emprestar livros do acervo/Usar computadores e o ambiente para estudar; 
           </p>
           <p><b>Quem não é aluno pode:   </b><br>
            -Consultar os livros/Usar computadores e o ambiente para estudar; 
           </p>
        </article>
        </article>
        <p>Confira as obras que possuímos em:  <a href="http://biblio.cps.sp.gov.br/" target="_blank">http://biblio.cps.sp.gov.br/</a></p>
        </article>
      </div>
      <div class="tab-pane fade" id="servicos">
        <article class="content">
          <h2>Serviços</h2>
          <hr />
          <ul>
            <li>
              Consulta e Empréstimo com prazo definido pela categoria de
              usuários:
            </li>
            <ul>
              <li>Aluno/Funcionários: 3 documentos/ 7 dias</li>
              <li>Professor/ Coordenação: 5 documento/ 15 dias</li>
            </ul>
            <li>Levantamento Bibliográfico;</li>
            <li>Treinamento na utilização da Biblioteca</li>
            <li>Ficha Catalográfica;</li>
            <li>Comutação Bibliográfica.</li>
            <li>Auxílio na Normalização Bibliográfica.</li>
          </ul>
        </article>
      </div>
      <div class="tab-pane fade" id="funcionamento">
        <article class="content">
          <h2 class="text-center">Horário de Funcionamento</h2>
          <hr />
          <p class="text-center">
            <strong>Segunda à Sexta:</strong> 07h00 às 21h50
          </p>
          <p class="text-center">
            <strong>Sábados:</strong> 09h00 às 12h00
          </p>
        </article>
      </div>
      <div class="tab-pane fade" id="contato">
        <article class="content">
          <h2 class="text-center">Contato</h2>
          <hr />
          <p class="text-center">
            <span class="glyphicon glyphicon-envelope"></span>
            e.aracatuba.bibli@centropaulasouza.sp.gov.br
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />