<div class="container">
  <!-- Novo Container -->
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="#sobre" data-toggle="tab" aria-expanded="true">Sobre</a>
    </li>
    <li role="presentation" class="">
      <a href="#horarios" data-toggle="tab" aria-expanded="false"
        >Horários</a
      >
    </li>
    <li role="presentation">
      <a href="#docentes" data-toggle="tab">Docentes</a>
    </li>
    <li role="presentation">
      <a href="#disciplinas" data-toggle="tab">Disciplinas</a>
    </li>
    <li role="presentation">
      <a href="#calendario" data-toggle="tab">Calendário</a>
    </li>
    <li role="presentation">
      <a href="#ppc-ads" data-toggle="tab">Projeto Pedagógico</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active in" id="sobre">
      <article class="content">
        <h2 class="h2">Sobre</h2>
        <hr />
        <p class="lead">Perfil do Profissional</p>
        <p>
          O profissional atua nos processo de produção de biocombustíveis
          (etanol, biodiesel, biogás, biomassa e carvão vegetal), açúcar e
          biomassa explorável para produção de energia. Planeja, executa e
          gerencia as atividades pertinentes aos processos de utilização
          de biomassa como fonte de energia, numa perspectiva de respeito
          ao ambiente e de conservação dos recursos naturais, de forma
          sustentada. O Tecnólogo em Biocombustíveis é um profissional
          habilitado a trabalhar nos diferentes setores da produção de
          energia através do uso da biomassa.
        </p>
        <hr />
        <p class="lead">Esse profissional deverá ser capaz de:</p>
        <ul>
          <li>
            Executar e gerenciar o funcionamento de máquinas e
            equipamentos, bem como processos de análises físico-químicas e
            biológicas.
          </li>
          <li>
            Implementar e gerencia sistemas, coordenando as respectivas
            equipes técnicas.
          </li>
          <li>
            Trabalhar na pesquisa de novas tecnologias e de processos de
            produção de energia e de gestão ambiental.
          </li>
          <li>
            Elaborar documentação técnica relativa aos processos em que
            atua, obedecendo a legislação e normas legais, nacionais e
            internacionais.
          </li>
          <li>
            Além disso, o tecnólogo em biocombustíveis deve ter como
            princípios a promoção da sustentabilidade dos processos, a
            conservação ambiental e a inclusão social.
          </li>
        </ul>
      </article>
    </div>
    <div class="tab-pane fade" id="horarios">
      <div
        class="media"
        style="background-color: rgb(255, 255, 255); width: 770px"
      >
        <iframe width="770" height="700" src="{{URL}}/upload/pdf/cursos/horarios/biocombustiveis/horario-bio.pdf" id="pdf-bio-hours"></iframe>
      </div>
    </div>
    <div class="tab-pane fade" id="ppc-ads">
      <div
        class="media"
        style="background-color: rgb(255, 255, 255); width: 770px"
      >
        <iframe width="770" height="700"  src="{{URL}}/upload/pdf/cursos/projeto-pedadogico/bio/projeto-pedadogico-bio.pdf"></iframe>
      </div>
    </div>

    <div class="tab-pane fade" id="docentes">
      <article class="content">
        <h2 class="h2">Docentes</h2>
        <hr />
        <table class="table table-striped table-responsive col-sm-12">
          <thead>
            <tr>
              <th>Nome</th>
              <th>e-mail</th>
              <th class="text-center">Lattes</th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
            <tr>
              <td>Agatha Stela de Morais, Me </td>
              <td>agatha.morais01@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4489517J3" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>André Rowe, Me</td>
              <td><classa="e-mail">andre.rowe@fatec.sp.gov.br</classa="e-mail"></td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4790432E6" target="_blank"></a>
              </td>

            </tr><tr>
              <td>Célia Regina Nugoli Estevam, Dra</td>
              <td>celia.estevam01@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4767220T5" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Euclides Teixeira Neto, Me</td>
              <td>euclides.teixeira01@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4443094D4" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Gabriela Cristiane Mendes Rahal, Me</td>
              <td>gabriela.rahal@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4240242Z3" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Giuliano Pierre Estevam, Dr</td>
              <td>giuliano.estevam@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4734676Y3" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Hildo Costa de Sena, Me</td>
              <td>hildo.sena@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4757822U2" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Luciana Passos Marcondes Scarsiotta, Dra</td>
              <td>luciana.marcondes01@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4233078A2" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Luciane Berti Ribeiro, Esp</td>
              <td>luciane.ribeiro01@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Lucinda Giampietro Brandão, Dra</td>
              <td>lucinda.brandao@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4708612D7" target="_blank"></a>
              </td>
            </tr>
            
            <tr>
              <td>Marcus Vinicius Cavalcanti Gandolfi, Dr</td>
              <td>marcus.gandolfi@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4258872U8" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Osvaldino Brandão Junior, Dr</td>
              <td>osvaldino.brandao01@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://lattes.cnpq.br/6929052442931280" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Renato Tadeu Guerreiro, Dr</td>
              <td>renato.guerreiro3@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4758213Z7" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Roberto Outa, Dr</td>
              <td>roberto.outa@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4499983U1" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Ronnie Marcos Rillo, Me</td>
              <td>ronnie.rillo@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4162048J4" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Rosa Valéria Rocha Abreu, Me</td>
              <td>valeria.abreu@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4798961Y7" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Sandra Maria de Melo, Dra</td>
              <td>sandra.melo01@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4742522A1" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Valéria Garcia Pereira, Dra</td>
              <td>valeria.pereira@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4791319H3" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>Wesley Pontes, Dr</td>
              <td>wesley.pontes@fatec.sp.gov.br</td>
              <td>
                <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4758983E6" target="_blank"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
    <div class="tab-pane fade" id="disciplinas">
      <div
        class="media"
        style="background-color: rgb(255, 255, 255); width: 770px"
      >
        <iframe
          width="770"
          height="700"
          src="{{URL}}upload/pdf/cursos/calendario/biocombustiveis/calendario-biocombustiveis.pdf"
        ></iframe>
        
      </div>
    </div>
    <div class="tab-pane fade" id="calendario">
      <div
        class="media"
        style="background-color: rgb(255, 255, 255); width: 770px"
      >
        <iframe width="770" height="700" src="{{URL}}/upload/pdf/cursos/calendario/biocombustiveis/calendario-biocombustiveis.pdf" ></iframe>
      </div>
      
    </div>
  </div>
</div>