<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="#sobre" data-toggle="tab">Como funciona</a>
      <p>A Comissão Própria de Avaliação (CPA) é responsável por coordenar a auto avaliação institucional, desde a elaboração do método, passando por sua implementação e sistematização dos resultados. 
        Acesse aqui os resultados das avaliações realizadas pela CPA:  
        </p>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="sobre">
      <article class="content">
        <h2>CPA</h2>
        <li>
          <a href="https://docs.google.com/forms/d/1nzbqr9UhRdGSlYFohFz_FW5gsUrP2xw75A3MsL0KvXg/viewform?edit_requested=true" target="_blank">ADS</a>
          </a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/1f5Ou2uAmiJZic5kbBDAgPg6O9ctdkECzeR-zP_ALCqc/viewform?edit_requested=true" target="_blank">Biocombustíveis</a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/1iIpyhWF0DFi7jGHPFE4hvgUAsyv_GMj8fVP8CmHygKo/viewform?edit_requested=true" target="_blank">Gestão - EAD </a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/1TG7rikIKVgt5jcCZjP5jLSzpMayqvzjcGaWBAQ1NyUI/viewform?edit_requested=true" target="_blank">Docentes</a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/189At5PZosihztOVsKRuRFdZO26X58GftWtUVxrnTxbI/viewform?edit_requested=true" target="_blank">Tec. Administ./Academicos</a>
        </li>
        <hr>
      </article>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>