<div class="container main">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#sobre" data-toggle="tab">Sobre</a>
      </li>
      <li role="presentation">
        <a href="#arquivos" data-toggle="tab">Documentos de Estágio</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="sobre">
        <article class="content">
          <h2 class="h2"> Como funciona o estágio na Fatec de Araçatuba? </h2>
          <hr />
          <p class="lead">O estágio é obrigatório?</p>
          <p> Sim, inclusive é previsto na grade curricular dos cursos. O estudante que não cumpre 240 horas, não pode colar grau. </p>
          <hr />
          <p class="lead">Onde posso estagiar?</p>
          <p> O estudante deve realizar o estágio em empresas que possuem afinidade com sua área de formação profissional. </p>
          <hr />
          <p class="lead"> De que parte a iniciativa para iniciar o estágio? </p>
          <p> Sempre do aluno. O estudante deve observar o mercado para perceber as empresas que se enquadram no seu desejo profissional. Após isso, deve buscar o contato da pessoa responsável pelo Recursos Humanos para o iniciar o diálogo sobre o estágio. </p>
          <hr />
          <p class="lead">A partir de qual semestre posso estagiar?</p>
          <p> Quando estiver regularmente matriculado, porém, o estágio obrigatório só poderá ser realizado a partir do 4º semestre. </p>
          <hr />
          <p class="lead"> Todo estágio deve ter um professor orientador? </p>
          <p> Sim, inclusive o professor orientador precisa ser da mesma área em que o aluno vai estagiar. O estudante deve indicar o nome do professor na hora da formalização do contrato. </p>
          <hr />
          <p class="lead">Qual a carga horária do estágio obrigatório?</p>
          <p> A carga horária total do estágio é de 240 horas. Estas horas devem ser cumpridas em até seis horas diárias totalizando no máximo 30 horas semanais. </p>
          <hr />
          <p class="lead"> Já escolhi a empresa em que desejo estagiar e obtive resposta positiva do Recursos Humanos da organização. O que devo fazer agora? </p>
          <p> Entre em contato com o(a) Coordenador(a) de Estágio do seu curso: </p>
          <p> Profa. Me. Lucilena de Lima - luma.delima@gmail.com - Coordenadora de estágio do Curso de Análise e Desenvolvimento de Sistemas </p>
          <p> Profa. Me. Agatha S. de Morais - agatha-morais@hotmail.com - Coordenadora de estágio do Curso de Biocombustíveis (tarde) </p>
          <p> Prof. Dr. Wesley Pontes - wesley.pontes@gmail.com Coordenador de estágio do Curso de Biocombustíveis (noite) </p>
          <hr />
          <p class="lead"> Veja quais são as empresas conveniadas com a Fatec para estágio: </p>
          <ul>
            <li>Alcoazul</li>
            <li>Aralco</li>
            <li>Cia Açucareira De Penápolis</li>
            <li>Cooperhidro</li>
            <li>Decasa</li>
            <li>Acquavita</li>
            <li>Figueira– Usina Grupo Aralco Buritama</li>
            <li>Frigorífico Tilápia Do BrasilHidrau-Ata</li>
            <li>Neth (Núcleo De Evolução Tecnológica E Humna)</li>
            <li>Cervejaria Premium</li>
            <li>Renuka Do Brasil – Brejo Alegre</li>
            <li>Renuka Do Brasil – Promissão</li>
            <li>Servpav Indústria De Materiais Para Pavimentos Ltda</li>
            <li>Unesp Campus Araçatuba – Odontologia</li>
            <li>Unesp Campus Araçatuba – Veterinária</li>
            <li>Unesp Campus Araraquara – Instituto De Química</li>
            <li>Usina Ipê – Pedra Agroindustrial</li>
            <li>Viralcool</li>
          </ul>
        </article>
      </div>
      <div class="tab-pane fade" id="arquivos">
        <article class="content">
          <h2 class="h2">Documentos de Estágio</h2>
          <hr />
          <table class="table table-striped table-responsive col-sm-12">
            <thead>
              <tr>
                <th>Arquivo</th>
                <th class="text-center">PDF</th>
                <th class="text-center">Word</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Termo de Compromisso</td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/pdf/estagio/termo_compromisso.pdf" target="_blank"></a>
                </td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/docx/estagio/termo_compromisso.docx" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Ficha de Início e Plano de Atividades</td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/pdf/estagio/ficha_inicio_plano_atividades.pdf" target="_blank"></a>
                </td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/docx/estagio/ficha_inicio_plano_atividades.docx" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Relatório do Estágio</td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/pdf/estagio/relatorio_estagio.pdf" target="_blank"></a>
                </td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/docx/estagio/relatorio_estagio.docx" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Avaliação do Desempenho</td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/pdf/estagio/avaliacao_desempenho.pdf" target="_blank"></a>
                </td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/docx/estagio/avaliacao_desempenho.docx" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Cadastro da Empresa</td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/pdf/estagio/cadastro_empresa.pdf" target="_blank"></a>
                </td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/docx/estagio/cadastro_empresa.docx" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Convênio de Concessão de Estágio</td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/pdf/estagio/convenio_de_concessao_de_estagio.pdf" target="_blank"></a>
                </td>
                <td class="text-center">
                  <a class="glyphicon glyphicon-download-alt centralized" href="{{URL}}/upload/docx/estagio/convenio_de_concessao_de_estagio.doc" target="_blank"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </div>
  </div>
</div>