<div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#sobre" data-toggle="tab" aria-expanded="true">Sobre</a>
      </li>
      <li role="presentation" class="">
        <a href="#horarios" data-toggle="tab" aria-expanded="false">Horários</a>
      </li>
      <li role="presentation" class="">
        <a href="#docentes" data-toggle="tab">Docentes</a>
      </li>
      <li role="presentation" class="">
        <a href="#disciplinas" data-toggle="tab">Disciplinas</a>
      </li>
      <li role="presentation" class="">
        <a href="#calendario" data-toggle="tab">Calendário</a>
      </li>
      
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="sobre">
        <article class="content">
          <h2 class="h2">Sobre</h2>
          <hr />
          <p class="lead">Perfil do Profissional</p>
          <p> O tecnólogo desta área elabora e implementa planos de negócios, utilizando métodos e técnicas de gestão na formação e organização empresarial especificamente 
            nos processos de comercialização, suprimento, armazenamento, movimentação de materiais e no gerenciamento de recursos financeiros e humanos.
            A habilidade para lidar com pessoas, a capacidade de comunicação, o trabalho em equipe, liderança, negociação, busca de informações, 
            tomada de decisão em contextos econômicos, políticos, culturais e sociais distintos são requisitos importantes a esse profissional. </p>
          <hr />
          <p class="lead">Mercado de trabalho:</p>
          <ul>
            <li> Em negócio próprio (consultoria, turismo, comércio, indústria etc.); 
              médias e pequenas empresas; setor público e em entidades particulares, tais como cooperativas e associações

            </li>
          </ul>
        </article>
      </div>
      <div class="tab-pane fade" id="horarios">
        <div class="media" style="background-color: rgb(255, 255, 255); width: 770px">
          <iframe width="770" height="700" src="{{URL}}/upload/pdf/cursos/calendario/gestao-empresarial/Horario-gestao.pdf"></iframe>
        </div>
      </div>
      <div class="tab-pane fade" id="docentes">
        <article class="content">
          <h2 class="h2">Docentes</h2>
          <hr />
          <table class="table table-striped table-responsive col-sm-12">
            <thead>
              <tr>
                <th>Nome</th>
                <th>e-mail</th>
                <th class="text-center">Lattes</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr>
                <td>Agatha Stela de Morais, Me</td>
                <td>agatha.morais01@fatec.sp.gov.br</td>
                <td>
                  <a class="glyphicon glyphicon-link centralized" href="http://lattes.cnpq.br/4147373923546404" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Gabriela Cristiane Mendes Rahal, Me</td>
                <td>gabriela.rahal@fatec.sp.gov.br</td>
                <td>
                  <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://lattes.cnpq.br/9152928525800668" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Luciana Passos Marcondes Scarsiotta, Dra</td>
                <td>luciana.marcondes01@fatec.sp.gov.br</td>
                <td>
                  <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://lattes.cnpq.br/0804789469499768" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Renata de Freitas Góis Comparoni, Dra</td>
                <td>renata.comparoni3@fatec.sp.gov.br</td>
                <td>
                  <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://lattes.cnpq.br/9232792979341504" target="_blank"></a>
                </td>
              </tr>
              <tr>
                <td>Ronnie Marcos Rillo, Me</td>
                <td>ronnie.rillo@fatec.sp.gov.br</td>
                <td>
                  <a class="glyphicon glyphicon-link centralized" aria-hidden="true" href="http://lattes.cnpq.br/6929052442931280" target="_blank"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
      <div class="tab-pane fade" id="disciplinas">
        <div class="media" style="background-color: rgb(255, 255, 255); width: 770px">
          <iframe width="770" height="700" src="{{URL}}/upload/pdf/cursos/calendario/gestao-empresarial/horario-gestao.pdf"></iframe>
        </div>
      </div>
      <div class="tab-pane fade" id="calendario">
        <div class="media" style="background-color: rgb(255, 255, 255); width: 770px">
          <iframe width="770" height="700" src="{{URL}}/upload/pdf/cursos/calendario/ads/calendario_2sem_2023.pdf"></iframe>
        </div>
      </div>
    </div>
  </div>