<section class="section overfree">
  <div class="container">
    <div class="section-title text-center">
      <small>Bem vindo a Fatec Araçatuba</small>
      <br>
      <small>Faculdade Gratuita</small>
      <hr>
      <h3>Nossos Cursos</h3>
    </div>
    <div class="row service-list text-center">
      <div class="col-md-4 col-sm-12 col-xs-12 first">
        <div class="service-wrapper wow fadeIn">
          <div class="custom-class-icon1">
            <img src="{{URL}}/resources/img/icon10.png" width="80px">
          </div>
          <div class="service-details">
            <h4>
              <a href="service-01.html" title="">Análise e Desenvolvimento de Sistemas</a>
            </h4>
            <p style="text-align: start; max-height: 410px; overflow-y: scroll;"><strong>Área de atuação:</strong>
              Cria, projeta, desenvolve e configura programas, softwares e sistemas para inúmeras empresas. Faz
              auditoria de sistemas para avaliar possíveis erros e falhas. Além disso, é apto a prestar consultoria e
              desenvolver pesquisas.
              Onde trabalhar?
              Como a informática está presente em praticamente todos os setores da sociedade, pode atuar em empresas
              públicas ou privadas, instituições financeiras, consultorias, terceiro setor, empresas especializadas em
              Tecnologia da Informação (TI), indústrias etc.
            </p>
            <a href="{{URL}}/cursos/analise-e-desenvolvimento-de-sistemas" class="readmore">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="service-wrapper wow fadeIn">
          <div class="custom-class-icon2">
            <img src="{{URL}}/resources/img/icon11.png" width="80px">
          </div>
          <div class="service-details ">
            <h4>
              <a href="service-02.html" title="">Biocombustíveis</a>
            </h4>
            <br>
            <p style="text-align: start; max-height: 410px; overflow-y: scroll;"><strong>Área de atuação:</strong>
              Planeja, gerencia e supervisiona a produção de biocombustíveis nas indústrias. Está apto a gerenciar
              equipes de produção e de manutenção de equipamentos industriais e agrícolas. É responsável por controlar a
              qualidade tanto da matéria-prima quanto do produto final. Pode atuar também em laboratórios industriais,
              analisando as características e propriedades dos biocombustíveis, e na área de pesquisa e desenvolvimento
              de novos produtos. Nas propriedades rurais, pode cuidar da preparação do solo para o plantio, em especial
              da cana-de-açúcar, assim como das técnicas de colheita. A sociedade e o mercado demandam o uso de energias
              renováveis e limpas em alternativa à energia proveniente do petróleo, o que abre o campo de trabalho para
              esse profissional. O Brasil é o segundo maior produtor global de bioetanol e biodiesel, ficando apenas
              atrás dos Estados Unidos, conforme levantamento realizado em 2014 pelo Balanço Energético Nacional.
              Onde trabalhar?
              Indústrias sucroenergéticas, como usinas e destilarias de cana-de-açúcar e indústrias de biodiesel e de
              etanol; indústrias de equipamentos para a produção de biocombustível; empresas do segmento de oleaginosas
              (soja, dendê, girassol, pinhão manso, mamona etc); instituições de ensino e pesquisa. Pode ainda abrir seu
              próprio negócio.
            </p>
            <a href="{{URL}}/cursos/biocombustiveis" class="readmore">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 last">
        <div class="service-wrapper wow fadeIn">
          <div class="custom-class-icon3">
            <img src="{{URL}}/resources/img/icon12.png" width="80px">
          </div>
          <div class="service-details">
            <h4>
              <a href="service-02.html" title="">Gestão Empresarial</a>
            </h4>
            <br>
            <p style="text-align: start; max-height: 410px; overflow-y: scroll;"><strong>Área de atuação:</strong>
              Prepara profissionais capazes de gerir recursos humanos, físicos e financeiros em empresas de qualquer
              setor. Gerencia estratégias de liderança e motivação de equipes. Lidera estudos sobre planejamento
              financeiro, inovação e tecnologia. É capaz de planejar legislações/regimentos, ações de marketing,
              políticas educacionais, entre outras ações coorporativas.
              Onde trabalhar?
              O principal mercado de trabalho são médias e pequenas empresas, públicas e privadas de qualquer segmento
              tais como cooperativas, associações, governos. Também pode aproveitar seus conhecimentos para gerir um
              negócio próprio (consultoria, turismo, comércio, indústria etc.).
            </p>
            <a href="{{URL}}/cursos/gestao-empresarial" class="readmore">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-noticias">
  <div class="section-title text-center">
    <small>Acontecimentos</small>
    <h3>Ultimas Notícias</h3>
  </div>
  <div class="container">
    <div class="row">
      {{noticias}}
    </div>
  </div>
</section>
<section class="section lb nopad spotlight style1">
  <div class="image col-md-4 hidden-sm hidden-xs">
    <img src="{{URL}}/resources/img/fatec2.jpg" alt="Fatec Araçatuba">
  </div>
  <div class="content">
    <h2>Atividades</h2>
    <p>Aplicamos atividades como sematec e Fatec aberta</p>
    <a href="{{URL}}/fatec-aberta" class="btn btn-transparent">Saiba Mais</a>
  </div>
</section>
<section class="section bt">
  <div class="container">
    <div class="section-title text-center">
      <small>Interações,Projetos e Palestras</small>
      <h3>Eventos</h3>
    </div>
    <div class="owl-carousel owl-theme lightcasestudies withhover">
      <div class="item-carousel">
        <div class="case-box">
          <img src="{{URL}}/resources/img/ft1.jpg" alt="" class="img-responsive">
          <div class="magnifier">
            <a href="case-studies-single.html">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="item-carousel">
        <div class="case-box">
          <img src="{{URL}}/resources/img/ft2.jpg" alt="" class="img-responsive">
          <div class="magnifier">
            <a href="case-studies-single.html">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="item-carousel">
        <div class="case-box">
          <img src="{{URL}}/resources/img/ft3.jpg" alt="" class="img-responsive">
          <div class="magnifier">
            <a href="case-studies-single.html">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="item-carousel">
        <div class="case-box">
          <img src="{{URL}}/resources/img/ft4.jpg" alt="" class="img-responsive">
          <div class="magnifier">
            <a href="case-studies-single.html">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="item-carousel">
        <div class="case-box">
          <img src="{{URL}}/resources/img/ft5.jpg" alt="" class="img-responsive">
          <div class="magnifier">
            <a href="case-studies-single.html">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="item-carousel">
        <div class="case-box">
          <img src="{{URL}}/resources/img/ft6.jpg" alt="" class="img-responsive">
          <div class="magnifier">
            <a href="case-studies-single.html">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section overfree">
  <div class="icon-center">
    <i class="fa fa-bar-chart"></i>
  </div>
  <div class="container">
    <div class="section-title text-center">
      <small style="font-size:20px;   ">Quer entrar na instituição e conseguir uma oportunidade no mercado de trabalho?
        inscreva-se no vestibular da FATEC no link abaixo</small>
      <a href="https://www.vestibularfatec.com.br/unidades-cursos/escola.asp?c=180">
        <h4 style="color:#0000FF;">Link do vestibular</h4>
      </a>
    </div>
    <hr class="invis">
    <div class="row callout bgcolor">
      <div class="col-md-9">
        <p class="lead">Ficou com dúvidas? Procure entrar em contato com alguns dos nossos profissionais, concerteza
          você vai esclarecer!</p>
      </div>
      <div class="col-md-3">
        <div class="button-wrap text-center">
          <a href="{{URL}}/contato" class="btn btn-transparent btn-light btn-lg">Contate-nos</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section ldp"></section>