<div class="container main">
  <div class="container">
    <h2>Iniciação Científica</h2>
    <hr>
    <p>A iniciação científica é uma modalidade de pesquisa acadêmica na qual os universitários aprofundam seus estudos em um determinado tema — relacionado com a sua formação. Esse tipo de estudo é voltado quem deseja seguir carreira acadêmica depois da faculdade, ou, ainda, para alunos que pretendem realizar um estudo sobre um assunto específico.
      Estudante Fatec, deseja realizar uma pesquisa de iniciação científica?<br>
       Procure seu coordenador de curso e entenda os requisitos. 
      </p>
    <br>
    <p>Saiba mais no regulamento abaixo. </p>
    <p>
    <div class="content">
      <div class="media" style="background-color: rgb(255, 255, 255); width: 770px;">
        <iframe width="770" height="1000" src="{{URL}}/upload/pdf/iniciacao-cientifica.pdf"></iframe>
      </div>
    </div>
    </p>
    <div class="content"></div>
  </div>
</div>