<div class="container main">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#sobre" data-toggle="tab" aria-expanded="true">Sobre</a>
      </li>
      <li role="presentation" class="">
        <a href="#horarios" data-toggle="tab" aria-expanded="false"
          >Horários de monitoria</a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="sobre">
        <article class="content">
          <h2 class="h2">O que é monitoria</h2>
          <p>
            Ofertamos monitoria para que os estudantes Fatec tenham maior aprimoramento estudantil.<br>
             O aluno que tiver dúvida sobre determinada matéria pode sanar suas dúvidas com nossos monitores. <br>
             A monitoria é sempre ofertada no contraturno escolar. <br>
             Confira o cronograma de estudo com o coordenador do seu curso ou nos murais de avisos.  
          </p>
        </article>
      </div>
      <div class="tab-pane fade" id="horarios">
        <article class="content">
          <h2 class="h2">Horários de monitoria</h2>
          <h3 class="h3 text-center">
            Análise e Desenvolvimento de Sistemas
          </h3>
          <hr />
          <p class="text-center">
            <span class="glyphicon glyphicon-user"></span
            ><strong> Monitor</strong>: Douglas Xavier Silva
            <span class="glyphicon glyphicon-map-marker"></span
            ><strong> Local</strong>: Sala 9
          </p>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="col-sm-4">Disciplinas</th>
                <th class="col-sm-4">Dia</th>
                <th class="col-sm-4">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-sm-4">Algoritmos</td>
                <td class="col-sm-4">Segunda e Terça</td>
                <td class="col-sm-4">11h às 14h</td>
              </tr>
              <tr>
                <td class="col-sm-4">Linguagem de Programação</td>
                <td class="col-sm-4">Quarta</td>
                <td class="col-sm-4">11h às 13h</td>
              </tr>
            </tbody>
          </table>
          <hr />
          <p class="text-center">
            <span class="glyphicon glyphicon-user"></span
            ><strong> Monitor</strong>: Lucas Anjos do Santos
            <span class="glyphicon glyphicon-map-marker"></span
            ><strong> Local</strong>: Sala 9
          </p>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="col-sm-4">Disciplinas</th>
                <th class="col-sm-4">Dia</th>
                <th class="col-sm-4">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-sm-4">Estrutura de Dados</td>
                <td class="col-sm-4">Segunda e Terça</td>
                <td class="col-sm-4">11h às 14h</td>
              </tr>
              <tr>
                <td class="col-sm-4">Estrutura de Dados</td>
                <td class="col-sm-4">Quarta</td>
                <td class="col-sm-4">12h30 às 14h30</td>
              </tr>
            </tbody>
          </table>
          <hr />
          <hr />
          <h3 class="h3 text-center">Biocombustíveis</h3>
          <hr />
          <p class="text-center">
            <span class="glyphicon glyphicon-user"></span
            ><strong> Monitor</strong>: Bruce Wellington
            <span class="glyphicon glyphicon-map-marker"></span
            ><strong> Local</strong>: Sala 11
          </p>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="col-sm-4">Disciplinas</th>
                <th class="col-sm-4">Dia</th>
                <th class="col-sm-4">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-sm-4">Eletricidade e Termologia</td>
                <td class="col-sm-4">Segunda e Terça</td>
                <td class="col-sm-4">17h10 às 19h</td>
              </tr>
              <tr>
                <td class="col-sm-4">Estatística</td>
                <td class="col-sm-4">Quarta e Quinta</td>
                <td class="col-sm-4">17h10 às 19h</td>
              </tr>
            </tbody>
          </table>
          <hr />
          <p class="text-center">
            <span class="glyphicon glyphicon-user"></span
            ><strong> Monitor</strong>: Luiz Cláudio dos Santos
            <span class="glyphicon glyphicon-map-marker"></span
            ><strong> Local</strong>: Sala 12
          </p>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="col-sm-4">Disciplinas</th>
                <th class="col-sm-4">Dia</th>
                <th class="col-sm-4">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-sm-4">Cálculo</td>
                <td class="col-sm-4">Segunda e Quarta</td>
                <td class="col-sm-4">17h10 às 19h</td>
              </tr>
              <tr>
                <td class="col-sm-4">Química Organica</td>
                <td class="col-sm-4">Terça e Quinta</td>
                <td class="col-sm-4">17h10 às 19h</td>
              </tr>
            </tbody>
          </table>
          <hr />
          <p class="text-center">
            <span class="glyphicon glyphicon-user"></span
            ><strong> Monitor</strong>: Luís Fernando Marchesini
            <span class="glyphicon glyphicon-map-marker"></span
            ><strong> Local</strong>: Sala 12
          </p>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="col-sm-4">Disciplinas</th>
                <th class="col-sm-4">Dia</th>
                <th class="col-sm-4">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-sm-4">Físico-química</td>
                <td class="col-sm-4">Terça e Quinta</td>
                <td class="col-sm-4">17h10 às 19h</td>
              </tr>
              <tr>
                <td class="col-sm-4">Bioquímica</td>
                <td class="col-sm-4">Quarta e Sexta</td>
                <td class="col-sm-4">17h10 às 19h</td>
              </tr>
            </tbody>
          </table>
          <hr />
          <p class="text-center">
            <span class="glyphicon glyphicon-user"></span
            ><strong> Monitor</strong>: Bruno de Souza
            <span class="glyphicon glyphicon-map-marker"></span
            ><strong> Local</strong>: Laboratório de Informática I
          </p>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="col-sm-4">Disciplinas</th>
                <th class="col-sm-4">Dia</th>
                <th class="col-sm-4">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-sm-4">Autocad</td>
                <td class="col-sm-4">Sábado</td>
                <td class="col-sm-4">-</td>
              </tr>
            </tbody>
          </table>
          <hr />
        </article>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />