<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="#sobre" data-toggle="tab">Como funciona</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="sobre">
      <article class="content">
        <h2>Como funciona</h2>
        <li>
          <a href="{{URL}}/upload/pdf/pss_ingles_instrumental.pdf" target="_blank">Edital - Processo Seletivo Simplificado para professor de ensino superior: Inglês Instrumental</a>
        </li>
        <li>
          <a href="{{URL}}/upload/pdf/pss_leitura_producao_textos.pdf" target="_blank">Edital - Processo Seletivo Simplificado para professor de ensino superior: Leitura e Produção de Textos</a>
        </li>
        <hr />
      </article>
    </div>
    <div class="tab-pane fade" id="horarios">
      <article class="content">
        <h2>Inscrições</h2>
        <hr />
      </article>
    </div>
    <div class="tab-pane fade" id="datas">
      <article class="content">
        <h2>Datas</h2>
        <p class="lead text-center">Não existem concursos abertos</p>
        <hr />
      </article>
    </div>
    <div class="tab-pane fade" id="aprovados">
      <article class="content">
        <h2>Aprovados</h2>
        <hr />
      </article>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />