<div class="container main">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#sobre" data-toggle="tab">Sobre</a>
      </li>
      <li role="presentation">
        <a href="#fotos" data-toggle="tab">Fotos</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="sobre">
        <article class="content">
          <h2>A Fatec de Araçatuba</h2>
          <hr />
          <p>A Fatec (Faculdade de Tecnologia) Araçatuba é uma instituição pública de ensino superior, mantida pelo Governo do Estado de São Paulo. <br>
            Ofertamos três graduações gratuitas: Análise e desenvolvimento de Sistemas (manhã/40 vagas); Biocombustíveis (noturno/40 vagas) e Gestão Empresarial (EAD).</p>  
        </article>
      </div>
      <div class="tab-pane fade" id="fotos">
        <article class="content">
          <h2>Fotos da Instituição</h2>
          <hr />
          
          <div
            
            
            style=" display: block"
          >
            <div class="container-img-noticias">
              <div
                class="owl-wrapper"
                style="
      
                  left: 0px;
                  display: flex;
                  flex-wrap: wrap;
                  transition: all 0ms ease 0s;
                  transform: translate3d(0px, 0px, 0px);
                "
              >
                
              <div class="owl-item" >
                <div class="item">
                  <img
                    class="img-thumbnail img-responsive"
                    src="{{URL}}/resources/img/int1.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="owl-item" >
                <div class="item">
                  <img
                    class="img-thumbnail img-responsive"
                    src="{{URL}}/resources/img/int2.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="owl-item" >
                <div class="item">
                  <img
                    class="img-thumbnail img-responsive"
                    src="{{URL}}/resources/img/int3.jpg"
                    alt=""
                  />
                </div>
              </div>
                <div class="owl-item" >
                  <div class="item">
                    <img
                      class="img-thumbnail img-responsive"
                      src="{{URL}}/resources/img/int4.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="owl-item" >
                  <div class="item">
                    <img
                      class="img-thumbnail img-responsive"
                      src="{{URL}}/resources/img/int5.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="owl-item" >
                  <div class="item">
                    <img
                      class="img-thumbnail img-responsive"
                      src="{{URL}}/resources/img/int6.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="owl-item" >
                  <div class="item">
                    <img
                      class="img-thumbnail img-responsive"
                      src="{{URL}}/resources/img/int7.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="owl-item" >
                  <div class="item">
                    <img
                      class="img-thumbnail img-responsive"
                      src="{{URL}}/resources/img/int8.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />