<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <li id="create-user-button" class="sidebar-item">
          <a href="{{URL_ADMIN}}/usuarios" class="sidebar-link">
            <i class="material-symbols-outlined">
              face
            </i>
            <span class="hide-menu">Usuários</span>
          </a>
        </li>
        <li id="create-user-button" class="sidebar-item">
          <a href="{{URL_ADMIN}}/trabalho-graduacao" class="sidebar-link">
            <i class="material-symbols-outlined">
              order_approve
            </i>
            <span class="hide-menu">TG</span>
          </a>
        </li>
        <li id="create-user-button" class="sidebar-item">
          <a href="{{URL_ADMIN}}/noticias" class="sidebar-link">
            <i class="material-symbols-outlined">
              newspaper
            </i>
            <span class="hide-menu">Noticias</span>
          </a>
        </li>
        <li id="create-user-button" class="sidebar-item">
          <a href="{{URL_ADMIN}}/cursos" class="sidebar-link">
            <i class="material-symbols-outlined">
              school
            </i>
            <span class="hide-menu">Cursos</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>