<footer class="footer primary-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title">Estágio</h4>
          <ul>
            <li>Em construção</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title">Trabalho de Graduação</h4>
          <ul>
            <li>Em construção</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title">Contato e Atendimento</h4>
          <ul class="footer-contato-e-atendimento">
            <p>
              <span class="glyphicon glyphicon-pushpin"></span> Av. Prestes Maia, 1764 - Jd. Ipanema, Araçatuba/SP
            </p>
            <br>
            <p>
              <span class="glyphicon glyphicon-time"></span> Segunda à Sexta-feira das 7:30 às 22:30
            </p>
            <br>
            <p>
              <span class="glyphicon glyphicon-phone-alt"></span> (18) 3625-9917
            </p>
            <br>
            <p class="d-flex">
              <span class="glyphicon glyphicon-envelope"></span> comunicacao.aracatuba@fatec.sp.gov.br
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>