{{topbar}}

<header class="header site-header">
  <div class="container">
    <nav class="navbar navbar-default yamm">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{URL}}">
            <img src="{{URL}}/resources/img/logo-fatec.png" alt="Fatec Araçatuba" height="75px" width="120px">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="{{URL}}">Home</a>
            </li>
            <li class="dropdown yamm-fw hasmenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instituição <span class="fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu" style="left: 34%; width: 50%;" >
                <li>
                  <div class="yamm-content" >
                    <div class="row" >
                      <div class="col-md-4">
                        <ul>
                          <li>
                            <a href="{{URL}}/sobre">Quem Somos</a>
                          </li>
                          <li>
                            <a href="{{URL}}/biblioteca">Biblioteca</a>
                          </li>
                          <li>
                            <a href="{{URL}}/monitoria">Monitoria</a>
                          </li>
                          <li>
                            <a href="{{URL}}/iniciacao-cientifica">Iniciação Científica</a>
                          </li>
                          <li>
                            <a href="{{URL}}/processo-seletivo-simplificado">Processo Seletivo Simplificado</a>
                          </li>
                          <li>
                            <a href="{{URL}}/upload/pdf/edital_transferencia_2sem2016.pdf" target="_blank">Transferências</a>
                          </li>
                          <li>
                            <a href="{{URL}}/upload/pdf/pdi_fatec_aracatuba_2019.pdf">Plano de Desenvolvimento Institucional-PDI</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4" style="margin-left:15%;">
                        <ul>
                          <li>
                            <a href="{{URL}}/estagio">Estágio</a>
                          </li>
                          <li>
                            <a href="{{URL}}/trabalho-de-graduacao">Trabalho de Graduação</a>
                          </li>
                          <li>
                            <a href="{{URL}}/CPA">CPA-relatório 2021</a>
                          </li>
                          <li>
                            <a href="{{URL}}/sematec">Sematec</a>
                          </li>
                          <li>
                            <a href="{{URL}}/fatec-aberta">Fatec Aberta</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://www.vestibularfatec.com.br/home" target="_blank">Vestibular</a>
            </li>
            <li class="dropdown yamm-fw hasmenu  ">
              <a href="{{URL}}/cursos.html">Cursos <span class="fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu  siga" style="right: auto;">
                <li>
                  <div class="yamm-content">
                    <div class="row">
                      <div class="col-md-4">
                        <ul>
                          <li>
                            <a href="{{URL}}/cursos/analise-e-desenvolvimento-de-sistemas">Análise e Desenvolvimento de Sistemas</a>
                          </li>
                          <li>
                            <a href="{{URL}}/cursos/biocombustiveis">Biocombustíveis </a>
                          </li>
                          <li>
                            <a href="{{URL}}/cursos/gestao-empresarial">Gestão Empresarial</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown yamm-fw hasmenu  ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Siga <span class="fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu  siga" style="right: auto;">
                <li>
                  <div class="yamm-content">
                    <div class="row">
                      <div class="col-md-4">
                        <ul>
                          <li>
                            <a href="https://siga.cps.sp.gov.br/aluno/login.aspx" target="_blank">Alunos</a>
                          </li>
                          <li>
                            <a href="https://siga.cps.sp.gov.br/fatec/login.aspx" target="_blank">Professores</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown yamm-fw hasmenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">links uteis <span class="fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu  siga" style="right: auto;">
                <li>
                  <div class="yamm-content">
                    <div class="row">
                      <div class="col-md-4">
                        <ul>
                          <li>
                            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjA273d05f6AhWtpZUCHW7tCyEQFnoECAsQAQ&url=http%3A%2F%2Ffatec.sp.gov.br%2F&usg=AOvVaw2lck3jWwUsvH5TD6tonhHq" target="_blank">Office 365</a>
                          </li>
                          <li>
                            <a href="https://mail.office365.com/" target="_blank">Email institucional</a>
                          </li>
                          <li>
                            <a href="https://teams.microsoft.com" target="_blank">Teams</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{URL}}/noticias">Notícias</a>
            </li>
            <li class="lastlink hidden-xs hidden-sm">
              <a class="btn btn-primary" href="{{URL}}/contato">
                <i class="glyphicon glyphicon-search"></i> Contato </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>