<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 hidden-xs">
        <nav class="topbar-menu">
          <ul class="list-inline">
            <li>Acompanhe nossas Redes:</li>
            <li>
              <a href="https://www.facebook.com/fatecaracatuba/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/fatec177/" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 col-sm-6">
        <nav class="topbar-menu">
          <ul class="list-inline text-right navbar-right">
            <li class="hidden-xs">
              <i class="fa fa-clock-o"></i> Segunda à Sexta-feira das 7:30 às 22:30
            </li>
            <li>
              <i class="fa fa-phone"></i> (18) 3625-9917
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>